[Unit]
Description=ZNC IRC bouncer
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/znc -f
User=znc
Group=znc

[Install]
WantedBy=multi-user.target
